@{
    ViewBag.Title = "Account Manage";
    Layout = "~/Views/Shared/Admin/_FramesFull.cshtml";
}
<div id="page-wrapper">
<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <div class="page-bar page-header">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Admin/Index_Admin">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Danh mục</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="/Home/Account_Manage">Quản lý tài khoản</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading  d-flex">
                <div>
                    <i class="fa  fa-user fa-fw"></i>
                    Tài khoản
                </div>
                <a class="add " data-toggle="modal" data-target="#myModal" href="#">
                    <div id="add" class="">
                        <i class="fa fa-plus"></i>
                        <span>Thêm mới</span>
                    </div>
                </a>
                <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">THÊM TÀI KHOẢN</h4>
                            </div>
                            <div class="modal-body">
                                <div id="update-info" class="like-form">
                                    @* <% *@
                                    @*    ThanhVien thanhVien = (ThanhVien) request.getAttribute("thanhvien"); *@
                                    @* %> *@
                                    <form class="form-style" action="#">
                                        "
                                        method="post" id="form-validate">
                                        <input type="hidden" name="action" value="them">
                                        <ul class="row">
                                            <li class="row">
                                                <div class="col-sm-4 col-xs-6">
                                                    <input type="text" id="usr-name" name="usr-name"
                                                           value="#">
                                                    <label for="usr-name">Tài khoản<span>*</span></label>
                                                </div>
                                                <div class="col-sm-4 col-xs-6">
                                                    <input type="text" id="password" name="password"
                                                           value="#">
                                                    <label for="password">Mật khẩu<span>*</span></label>
                                                </div>
                                                <div class="col-sm-4 col-xs-6">
                                                    <input type="text" id="full-name" name="full-name"
                                                           value="#">
                                                    <label for="full-name">Họ tên<span>*</span></label>
                                                </div>
                                            </li>
                                            <li class="row">
                                                <div class="col-sm-4 col-xs-6">
                                                    <select id="gender" name="gender">
                                                        <option value="Nam">Nam</option>
                                                        <option value="Nữ">Nữ</option>
                                                    </select>
                                                    <label for="gender" class="level-span">Giới tính</label>
                                                </div>
                                                <div class="col-sm-4 col-xs-6">
                                                    <input type="text" id="email" name="email"
                                                           value="#>">
                                                    <label for="email">Email<span>*</span></label>
                                                </div>
                                                <div class="col-sm-4 col-xs-6">
                                                    <input type="number" id="sdt" name="sdt"
                                                           value="#">
                                                    <label for="sdt">Điện thoại<span>*</span></label>
                                                </div>

                                            </li>
                                            <li class="row">
                                                <div class="col-sm-8 col-xs-6">
                                                    <input type="text" id="address" name="address"
                                                           value="#">
                                                    <label for="address">Địa chỉ</label>
                                                </div>
                                                <div class="col-sm-4 col-xs-6">
                                                    <select id="level" name="level">
                                                        <option value="0">User</option>
                                                        <option value="1">Admin</option>
                                                    </select>
                                                    <label for="level" class="level-span">Level</label>
                                                </div>

                                            </li>
                                        </ul>
                                        <div class="btn-submit">
                                            <button type="submit" id="update-btn">Thêm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr class="text-small">
                            <th>STT</th>
                            <th>Họ & Tên</th>
                            <th>Giới tính</th>
                            <th>Email</th>
                            <th>Điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Level</th>
                            <th class="remove" style="text-align: center">Sửa</th>
                            <th class="remove" style="text-align: center">Xóa</th>
                        </tr>
                        </thead>
                        <tbody>
                        @* <%try {%> *@
                        @* <% *@
                        @*     $1$ List<ThanhVien> ds_tv = ThanhVienDAO.findAll(); #1# *@
                        @*     int i = 1; *@
                        @* %> *@
                        @* <%if (ds_tv != null) {%> *@
                        @* <%for (ThanhVien tv : ds_tv) {%> *@
                        <tr class="odd gradeX">
                            <td>1</td>
                            <td>Nguyễn Trọng NGhĩa</td>
                            <td>Nam</td>
                            <td>nguyentrongnghia.itnlu@gmail.com</td>
                            <td>0338017739</td>
                            <td>KTX Khu B ĐHQG</td>
                            <td style="text-align: center">
                                @* <%if (tv.getLevel() == 0) {%> *@
                                <span class="label label-success">Admin</span>
                                @* <%} else if (tv.getLevel() == 1) { %> *@
                                @* <span class="label label-danger">Admin</span> *@
                                @* <%}%> *@
                            </td>
                            <td style="text-align: center">
                                <a
                                    href="#"
                                    class="btn default btn-xs purple btn-edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td style="text-align: center">
                                <a data-toggle="modal" data-target="#<%=tv.getTaiKhoan()%>cf"
                                   class="btn default btn-xs black btn-delete">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                                <div id="<%=tv.getTaiKhoan()%>cf" class="modal fade modal-confirm" role="dialog">
                                    <div class="modal-dialog modal-sm">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <p class="text-content">Xác nhận xóa tài khoản <em>#</em></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" onclick="#" class="btn-cf">Xác nhận</button>
                                                <button type="button" class="tbn-cancle" data-dismiss="modal">Hủy</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        @* <% *@
                        @*         } *@
                        @*     } *@
                        @* } catch (SQLException e) { *@
                        @* %> *@
                        @* <%}%> *@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>