﻿

@{
    ViewBag.Title = "Comment Update";
    Layout = "~/Views/Shared/Admin/_FramesFull.cshtml";
}
 <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-bar page-header">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="/Admin/Index_Admin">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a href="#">Danh mục</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a href="/Admin/Comment_Manage">Quản lý bình luận</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading  d-flex">
                            <div>
                                <i class="fa  fa-comments fa-fw"></i>Cập nhật bình luận
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="update" class="like-form">
                                <form id="form-validate" class="form-style" action="#" method="#">
                                    <ul class="row">
                                        <li class="row">
                                            <div class="col-sm-2 col-xs-12">
                                                <input type="text" id="id" name="id">
                                                <label for="id">#*</label>
                                            </div>
                                            <div class="col-sm-5 col-xs-12">
                                                <input type="text" id="name" name="name">
                                                <label for="name">Tên khách hàng*</label>
                                            </div>
                                            <div class="col-sm-5 col-xs-12">
                                                <input type="date" id="dateOfWriting" name="dateOfWriting" value="">
                                                <label for="dateOfWriting">Ngày gửi</label>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <textarea id="comment" name="comment"
                                                          placeholder="Nhập nội dung..."></textarea>
                                                <label for="comment" class="mg-area">Nội dung</label>
                                            </div>

                                        </li>
                                    </ul>
                                    <div class="btn-submit">
                                        <a href="/Admin/Comment_Manage" class="btn default btn-xs black go-to-back">Trở
                                            lại</a>
                                        <button type="submit" id="update-btn"><i class="fa fa-pencil-square-o fa-fw"
                                                                                 aria-hidden="true"></i>Cập nhật
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
