

@{
    @ViewBag.Title
    Layout = "~/Views/Shared/Admin/_Frames.cshtml";
}
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="../index.html">ATM</a>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="../index.html"><i class="fa fa-home fa-fw"></i> Website</a></li>
        </ul>

        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown navbar-inverse">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> Bình luận mới
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-users fa-fw"></i> Thành viên mới
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>ADMIN<b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <!--<%&#45;&#45;                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>&#45;&#45;%>-->
                    <!--<%&#45;&#45;                </li>&#45;&#45;%>-->
                    <!--<%&#45;&#45;                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>&#45;&#45;%>-->
                    <!--<%&#45;&#45;                </li>&#45;&#45;%>-->
                    <!--<%&#45;&#45;                <li class="divider"></li>&#45;&#45;%>-->
                    <li><a href="../AD/login.html"><i
                            class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                </span>
                        </div>
                    </li>
                    <li>
                        <a href="index.html" class="active"><i class="fa  fa-dashboard fa-fw"></i> Thống kê</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Danh mục<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="producer.html"><i class="fa  fa-home fa-fw"></i>Nhà cung cấp</a>
                            </li>
                            <li>
                                <a href="products-manage.html"><i class="fa  fa-pencil-square-o fa-fw"></i>Quản lý sản
                                    phẩm</a>
                            </li>
                            <li>
                                <a href="comments-manage.html"><i class="fa  fa-comments fa-fw"></i>Quản lý bình
                                    luận</a>
                            </li>
                            <li>
                                <a href="news-manage.html"><i class="fa  fa-newspaper-o fa-fw"></i>Quản lý tin tức</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="revenue.html"><i class="fa fa-table fa-fw"></i>Doanh thu</a>
                    </li>
                    <li>
                        <a href="oder-manage.html"><i class="fa  fa-shopping-cart fa-fw"></i> Quản lý đơn hàng</a>
                    </li>
                    <li>
                        <a href="account-manage.html"><i class="fa  fa-user fa-fw"></i>Quản lý tài khoản</a>
                    </li>
                    <li>
                        <a href="member.html"><i class="fa fa-users fa-fw"></i>Thành viên</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-bar page-header">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="index.html">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a href="index.html">Thống kê</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div data-aos="zoom-in" data-aos-duration="700" class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-envira fa-3x"></i>
                                </div>
                                <div class="text-cs">Tổng số sản phẩm</div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">69</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="700" class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-3x"></i>
                                </div>
                                <div class="text-cs">Tổng số tiền</div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">69.666.999d</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="700" class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-basket fa-3x"></i>
                                </div>
                                <div class="text-cs">Tổng đơn hàng</div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">69</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="700" class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bank fa-3x"></i>
                                </div>
                                <div class="text-cs">Doanh thu hôm nay</div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">20.990.000đ</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="700" class="col-lg-3 col-md-6">
                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-calendar-minus-o fa-3x"></i>
                                </div>
                                <div class="text-cs">Doanh thu tuần</div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">30.250.000đ</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="700" class="col-lg-3 col-md-6">
                    <div class="panel panel-darkcyan">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-calendar fa-3x"></i>
                                </div>
                                <div class="text-cs">Doanh thu tháng</div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">50.220.000đ</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="700" class="col-lg-3 col-md-6">
                    <div class="panel panel-cyan">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <div class="text-cs">Tổng số thành viên</div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">3</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-duration="700" class="col-lg-3 col-md-6">
                    <div class="panel panel-cy">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-paw fa-3x"></i>
                                </div>
                                <div class="text-cs">Lượt truy cập</div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">534</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>