

@{
    ViewBag.Title = "Member Update";
    Layout = "~/Views/Shared/Admin/_FramesFull.cshtml";
}

<h2>title</h2>
 <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-bar page-header">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="/Admin/Index_Admin">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a href="/Admin/Member">Thành viên</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading  d-flex">
                            <div>
                                <i class="fa  fa-users fa-fw"></i>
                                Cập nhật thành viên
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="update" class="like-form">
                                <form id="form-validate" class="form-style" action="#" method="#">
                                    <ul class="row">
                                        <li class="row">
                                            <div class="col-sm-3 col-xs-12">
                                                <input type="text" id="full-name" name="full-name">
                                                <label for="full-name">Họ & Tên*</label>
                                            </div>
                                            <div class="col-sm-3 col-xs-12">
                                                <select id="level" name="level">
                                                    <option value="0">0 (Thành viên)</option>
                                                    <option value="1">1 (Nhóm trưởng)</option>
                                                </select>
                                                <label for="level" class="level-span">Chức vụ</label>
                                            </div>
                                            <div class="col-sm-3 col-xs-12">
                                                <input type="text" id="email" name="email">
                                                <label for="email">Email*</label>
                                            </div>
                                            <div class="col-sm-3 col-xs-12">
                                                <input type="number" id="sdt" name="sdt">
                                                <label for="sdt">Điện thoại*</label>
                                            </div>
                                        </li>
                                        <li class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <input type="text" id="address" name="address">
                                                <label for="address">Địa chỉ</label>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="btn-submit">
                                         <a href="/Admin/Member" class="btn default btn-xs black go-to-back">Trở lại</a>
                                        <button type="submit" id="update-btn"><i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i>Cập nhật</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>