

@{
    ViewBag.Title = "Error 404";
    Layout = "~/Views/Shared/Home/_Header.cshtml";
}


<section id="body">
    <div id="error404">
        <div class="container">
            <div class="content-error">
                <div class="main-error">
                    <div class="img-error">
                        <img src="/Content/assets/img/common/404.jpg" height="513" width="767" alt=""/>
                    </div>

                    <div class="right-error">
                        <div class="error_title">404 ERROR!</div>
                        <div class="error_text">Trang bạn đang tìm kiếm không tồn tại. Chúng tôi xin lỗi vì sự bất tiện
                            này.
                        </div>
                        <div class="back-home"><a href="/Home/Index" class="error_back"><i class="fa fa-home"
                                                                                           aria-hidden="true"></i>Quay Lại
                            Trang Chủ</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/assets/js/bs-animation.js"></script>
</section>