
@{
    ViewBag.Title = "Guarentee";
    Layout = "~/Views/Shared/_HeaderHome.cshtml";
}
<section id="body">
    <div id="guarantee">
        <div class="container">
            <div class="content-question content-guarantee">
                <div class=" title-guarantee">
                    <h4>Quy định bảo hành</h4>
                    <span>22/12/2020</span>
                </div>
                <div class="role-gua">
                    <div class="guarantee-rule">
                        <h3>ĐIỀU KHIỆN BẢO HÀNH</h3>
                        <ul>
                            <li>

                                Tất cả các thiết bị phải có tem bảo hành của ATM hoặc từ nhà phân phối ,
                                nhà sản xuất và tem phải không có dấu hiệu hư hoại. Xuất trình được hoá đơn mua hàng
                                (nếu
                                không thể truy cập được lịch sử mua hàng).
                            </li>
                            <li>
                                Tem bảo hành, mã vạch seri number phải còn nguyên vẹn, không có dấu hiệu cạo sửa, tẩy
                                xóa
                                hay bị rách mờ.
                            </li>
                            <li>
                                Những hư hỏng của thiết bị được xác định do lỗi kỹ thuật hoặc lỗi của nhà sản xuất.
                            </li>
                        </ul>
                    </div>
                    <div class="guarantee-rule">
                        <h3>ĐIỀU KHIỆN KHÔNG BẢO HÀNH</h3>
                        <ul>
                            <li>
                                Máy hoặc thiết bị có dấu hiệu dung dịch lạ hoặc có nước vào.
                            </li>
                            <li>
                                Đối với các sản phẩm có ghi chống nước. ATM không chịu trách nhiệm việc vào nước
                                trong bất kỳ điều kiện nào và hoàn toàn có quyền từ chối bảo hành. Những trường hợp vào
                                nước ATM sẽ hỗ trợ sửa chữa tính phí (Nếu sửa được).
                            </li>
                            <li>
                                Máy hoặc thiết bị do va chạm hoặc đã bị rơi rớt, bể mẻ, móp méo, biến dạng, trầy xước,
                                vết ẩm ướt, gỉ sét, phù tụ.
                            </li>
                            <li>
                                Màn hình thiết bị của máy bị hư hại không nằm trong điều kiện được bảo hành.
                            </li>
                            <li>
                                Thiết bị hư hỏng do thiên tai hỏa hoạn, sử dụng nguồn điện không ổn định hoặc do lắp
                                đặt, vận chuyển, sử dụng không đúng quy cách, thiết bị bị đứt mạch, cháy phù, nám
                                .v.v...
                            </li>
                        </ul>
                    </div>
                    <div class="guarantee-rule">
                        <h3>PHƯƠNG THỨC BẢO HÀNH</h3>
                        <ul>
                            <li>
                                Tất cả các thiết bị được bảo hành miễn phí trong suốt thời hạn bảo hành.
                            </li>
                            <li>
                                Trường hợp hàng đã mua quá thời hạn 15 ngày thì sẽ được nhận lại để bảo hành ( sửa chữa
                                ). Nếu không thể sửa chữa được thì cửa hàng sẽ thay thế một sản phẩm khác tương đương và
                                sản phẩm này không nhất thiết mới 100%.
                            </li>
                            <li>
                                Thời gian giải quyết bảo hành tối đa 30 ngày kể từ ngày nhận (trừ ngày Chủ Nhật và các
                                ngày lễ) và tùy từng trường hợp có thể giải quyết sớm hơn hoặc chậm hơn.
                            </li>
                            <li>
                                Đối với các thiết bị không sửa chữa được trong nước phải gởi sang nhà sản xuất ở nước
                                ngoài thì thời hạn có thể kéo dài từ 4 đến 8 tuần ( Không tính ngày lễ và ngày cuối tuần
                                )
                            </li>
                        </ul>
                    </div>
                    <div class="guarantee-rule">
                        <h3>THỜI GIAN NHẬN BẢO HÀNH</h3>
                        <ul>
                            <li>
                                Từ 12h đến 18h các ngày trong tuần (trừ Chủ Nhật)
                            </li>
                            <li>
                                Khách hàng mang hàng hoá đến bảo hành đúng giờ quy định sẽ có nhân viên kỹ thuật kiểm
                                tra và nhận thiết bị. Trường hợp khách hàng giao hàng bảo hành cho nhân viên bán hàng
                                (không đủ chuyên môn về kỹ thuật), có vấn đề gì xảy ra cửa hàng xin miễn nhận trách
                                nhiệm.
                            </li>
                            <li>
                                Khách hàng nếu giao thiết bị bảo hành cho nhân viên của công ty có quyền yêu cầu nhân
                                viên trả giấy biên nhận thiết bị bảo hành trong đó ghi nhận rõ tình trạng thiết bị khi
                                giao cho nhân viên kỹ thuật bảo hành để đảm bảo quyền lợi cho khách hàng.
                            </li>

                            <p>RẤT HÂN HẠNH ĐƯỢC PHỤC VỤ QUÝ KHÁCH!</p>

                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>