

@{
    ViewBag.Title = "News Detail";
    Layout = "~/Views/Shared/_HeaderHome.cshtml";
}

<section id="body">
    <div id="news-detail" class="bg-news">
        <div class="container">
            <div class="content-news justify-space-between">
                <div class="content-post">
                    <h5 id="title-news">Tiêu đề 1</h5>
                    <span class="date">10/06/2020</span>
                    <div class="content-left">Nội dung 1
                        <div class="author"><b>Theo: </b><span>ATM</span></div>
                    </div>
                    
                </div>
                
                
                <!--                <%}else{-->
                <!--                    response.sendRedirect(Util.fullPath("news.jsp"));-->
                <!--                }%>-->
                <div class="frame-hot-post">
                    <div class="hot-post">
                        <h5>BÀI VIẾT NỔI BẬT</h5>
                        <div class="content-right">
                            <!--                            <%try{%>-->
                            <!--                            <%List<TinTuc> dstt = NewsDAO.loadTinTuc();%>-->
                            <!--                            <%if(dstt!=null){%>-->
                            <!--                            <%for(int i =0;i<16;i++){%>-->
                            <div class="news-text-img-subs">
                                <a href="#">
                                    <div class="img-news">
                                        <img src="/Content/assets/img/news/news-sale/img_2529-copy-800x450_800x450-300x200.png" alt=""/>
                                    </div>
                                    <figure>
                                        <div class="text-news">Tiêu đề 1</div>
                                        <span class="date">Ngày viết 1</span>
                                        <p class="content-sale">Mô tả 1</p>
                                    </figure>
                                </a>
                            </div>
                            <div class="news-text-img-subs">
                                <a href="#">
                                    <div class="img-news">
                                        <img src="/Content/assets/img/news/news-sale/img_2529-copy-800x450_800x450-300x200.png" alt=""/>
                                    </div>
                                    <figure>
                                        <div class="text-news">Tiêu đề 2</div>
                                        <span class="date">Ngày viết 2</span>
                                        <p class="content-sale">Mô tả 2</p>
                                    </figure>
                                </a>
                            </div>
                            <div class="news-text-img-subs">
                                <a href="#">
                                    <div class="img-news">
                                        <img src="/Content/assets/img/news/news-sale/img_2529-copy-800x450_800x450-300x200.png" alt=""/>
                                    </div>
                                    <figure>
                                        <div class="text-news">Tiêu đề 2</div>
                                        <span class="date">Ngày viết 2</span>
                                        <p class="content-sale">Mô tả 2</p>
                                    </figure>
                                </a>
                            </div>
                            <div class="news-text-img-subs">
                                <a href="#">
                                    <div class="img-news">
                                        <img src="/Content/assets/img/news/news-sale/img_2529-copy-800x450_800x450-300x200.png" alt=""/>
                                    </div>
                                    <figure>
                                        <div class="text-news">Tiêu đề 2</div>
                                        <span class="date">Ngày viết 2</span>
                                        <p class="content-sale">Mô tả 2</p>
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="social">
                        <h5>THEO DÕI ATM TRÊN SOCIAL</h5>
                        <div class="icon-social d-flex justify-content-around">
                            <div class="ss-facebook justify-center">
                                <i class="fa fa-facebook"></i>
                                <span>FACEBOOK</span>
                            </div>
                            <div class="ss-youtube justify-center">
                                <i class="fa fa-youtube-play"></i>
                                <span>YOUTUBE</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
