@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_HeaderHome.cshtml";
}
<section id="body">
    <div id="question">
        <div class="container">
            <div class="content-question ">
                <div class="title-question">
                    <h4>CÂU HỎI THƯỜNG GẶP</h4>
                </div>
                <div class="question-frequent">
                    <div class="question">
                        <h3>Đâu là smartphone Android tốt nhất năm 2019?</h3>
                        <ul>
                            <li class="question">
                                <h5>1. Samsung Galaxy S10 Plus</h5>
                                <p>
                                    Galaxy S10 Plus có một bước nhảy vọt đáng kể với các tính năng mới cộng thêm với vẻ
                                    ngoài rất thời trang. Thiết bị này sử dụng chip Snapdragon 855 kết hợp với RAM 8 GB,
                                    giúp người dùng trải nghiệm những tác vụ cực nhanh. Bộ nhớ 128 GB cơ bản đáp ứng tốt
                                    nhu cầu lưu trữ và bạn cũng có thể “chịu chơi” nâng cấp lên bộ nhớ khoảng 512 GB
                                    hoặc thậm chí 1 TB.
                                </p>
                                <div class="img-qt">
                                    <img src="/Content/assets/img/news/question-img/s10-plus-1.jpg" height="524" width="959"/>
                                </div>
                                <p>
                                    Máy sở hữu màn hình 6.4 inch với diện tích màn hình chiếm toàn mặt trước là 93%, cảm
                                    biến vân tay dưới màn hình hoạt động tốt và hỗ trợ khả năng sạc không dây cho các
                                    thiết bị khác khá tiện lợi.
                                </p>
                            </li>
                            <li class="question">
                                <h5>2. Galaxy Note 10 Plus</h5>
                                <p>
                                    Galaxy Note 10 Plus là chiếc smartphone cao cấp nhất từng có của Samsung, màn hình
                                    lớn tuyệt đẹp, 4 camera sau và bút S-Pen “thần thánh” cao cấp.
                                </p>
                                <div class="img-qt">
                                    <img src="/Content/assets/img/news/question-img/note-10-pluss.jpg" height="529" width="956"/>
                                </div>
                                <p>
                                    Note 10 Plus được bổ sung thêm cảm biến góc siêu rộng 16 MP và cảm biến độ sâu
                                    Time-of-Flight. Máy có bộ nhớ trong lên đến 256 GB và dung lượng RAM 12 GB. Phiên
                                    bản này sở hữu thiết kế rất mỏng manh, màn hình lớn với phong cách hiện đại, tối
                                    giản.
                                </p>
                            </li>
                            <li class="question">
                                <h5>3. Huawei P30 Pro</h5>
                                <p>
                                    Dòng P của Huawei luôn được tập trung vào việc chụp ảnh và P30 Pro đã khiến người
                                    dùng phải rất bất ngờ.
                                </p>
                                <div class="img-qt">

                                    <img src="/Content/assets/img/news/question-img/p3o-pro-1.jpg" height="570" width="956"/>
                                </div>
                                <p>
                                    Với các smartphone khác việc zoom quang 3x trên các smartphone khá khó khăn bao giờ
                                    hết. Nhưng Huawei đã vượt qua giới hạn đó bằng một thiết kế mới lạ đặt ống kính dọc
                                    theo chiều dài của smartphone, kết hợp ống kính tiềm vọng cho khả năng zoom quang 5x
                                    và zoom kỹ thuật số tối đa đến 50x.
                                </p>
                                <p>
                                    Smartphone này cũng không hề lếp vế ở mặt cấu hình, chip Kirin 980 mới nhất của
                                    Huawei đạt tốc độ ngang với các flagship của Apple và Samsung.
                                </p>
                            </li>
                        </ul>
                        <div class="justify-center see-plus">
                            <button class="see-btn" type="button">
                                Xem thêm<i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="question">
                        <h3>Làm sao để cứu điện thoại khi bị rơi xuống nước?</h3>
                        <ul>
                            <li class="question">
                                <p style="margin-bottom: 10px">
                                    Điện thoại rơi vào nước là một trong những nguyên nhân
                                    phổ biến nhất làm cho điện thoại của
                                    bạn bị hư. Vậy bài viết này mình sẽ mách cho bạn một vài mẹo để có thể cứu lấy điện
                                    thoại
                                    của mình khi bị rơi vào nước.
                                </p>
                                <h5>Một vài mẹo giúp bạn có thể cứu lấy điện thoại của mình khi bị rơi vào nước.</h5>

                                <h5>Bước 1: Tắt nguồn</h5>
                                <p>
                                    + Việc đầu tiên phải cần làm là
                                    <b>
                                        lấy chiếc điện thoại của bạn ra và tắt nguồn ngay
                                        lập
                                        tức
                                    </b>. Vì khi tắt nguồn sẽ tránh được trường hợp nước len lỏi vào những bo mạch
                                    gây
                                    chạm và đứt mạch điện nếu điện thoại vẫn còn hoạt động
                                </p>
                                <div class="img-qt">

                                    <img src="/Content/assets/img/news/question-img/1.jpg" height="450" width="550"/>
                                </div>
                            </li>
                            <li class="question">
                                <h5>Bước 2: Tháo pin, sim, thẻ nhớ.</h5>
                                <p>
                                    + <b>Tháo nắp lưng và lấy pin</b> ra khỏi máy ngay lập tức , dùng khăn mềm khô để
                                    lau
                                    pin,
                                    sau đó để ở nơi thoáng mát cho pin nhanh khô (nếu máy pin rời) .
                                </p>
                                <p>
                                    + <b>Tháo sim, thẻ nhớ</b> ra khỏi máy. Do thẻ nhớ và sim nhỏ nên việc lau khô sẽ dễ
                                    dàng hơn.
                                </p>
                                <div class="img-qt">

                                    <img src="/Content/assets/img/news/question-img/2.jpg" height="450" width="550"/>
                                </div>
                            </li>
                            <li class="question">
                                <h5>Bước 3: Lau khô, làm sạch máy.</h5>
                                <p>
                                    +Bạn sử dụng khăn vải mềm, lau khô sạch toàn bộ bề mặt điện thoại, sử dụng tăm bông
                                    để lau cổng sạc, cổng tai nghe, tất cả các cổng kết nối với phụ kiện…
                                </p>
                                <div class="img-qt">

                                    <img src="/Content/assets/img/news/question-img/3.jpg" height="450" width="550"/>
                                </div>
                            </li>
                            <li class="question">
                                <h5>Bước 4: Hút ẩm máy</h5>
                                <p>
                                    + Cách đơn giản và dễ tìm nhất là bạn nên <b>cho máy vào thùng gạo</b>, nó sẽ hút
                                    nước ra
                                    khỏi điện thoại của bạn trong khoảng thời gian 1 đến 2 ngày. Ngoài ra bạn có thể sử
                                    dụng các <b>túi hút ẩm, hộp hút ẩm</b> để điện thoại vào trong 1 ngày đến 2 ngày,
                                    tùy vào
                                    việc điện thoại bị ngâm dưới nước lâu hay nhanh.
                                </p>
                                <div class="img-qt">

                                    <img src="/Content/assets/img/news/question-img/4.jpg" height="450" width="550"/>
                                </div>
                            </li>
                            <li class="question">
                                <h5>Bước 5: Khởi động lại máy</h5>
                                <p>
                                    + Sau khi thực hiện xong bước hút ẩm, bạn lắp pin (nếu pin rời) hoặc cắm sạc rồi một
                                    lúc rồi bật nút nguồn xem máy có hoạt động bình thường không. Nếu mở nguồn không lên
                                    thì chứng tỏ điện thoại của bạn đã bị hỏng, lúc này hãy
                                    <b>
                                        đem điện thoại đến nơi
                                        sửa
                                        chữa điện thoại chuyên nghiệp
                                    </b> để sửa chữa.
                                </p>
                                <div class="img-qt">
                                    <img src="/Content/assets/img/news/question-img/5.jpg" height="450" width="550"/>
                                </div>
                                <p>Chúc bạn thành công !</p>
                            </li>
                        </ul>
                        <div class="justify-center see-plus">
                            <button class="see-btn" type="button">
                                Xem thêm<i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <script src="/Content/assets/js/see-plus.js"></script>
</section>