
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/Home/_Header.cshtml";
}
<section id="body">
<!--    <% String hash = request.getParameter("key");-->
<!--        java.sql.Timestamp curtime = new java.sql.Timestamp(new-->
<!--                java.util.Date().getTime());-->
<!--        String taiKhoan = null;-->
<!--        java.sql.Timestamp exptime;-->
<!--        Connection connection = null;-->
<!--        PreparedStatement pst = null;-->
<!--        ResultSet rs = null;-->
<!--        try {-->
<!--            connection = DBConnection.getConnection();-->
<!--            pst = connection.prepareStatement("select taikhoan,exptime from reset_password where hash_code=?");-->
<!--            pst.setString(1, hash);-->
<!--            rs = pst.executeQuery();-->
<!--            if (rs.first()) {-->
<!--                taiKhoan = rs.getString("taikhoan");-->
<!--                exptime = rs.getTimestamp("exptime");-->
<!--                if ((curtime).before(exptime)) {-->
<!--    %>-->
    <div class="container form-forgot">
        <div id="change-pass" class="like-form">
            <h4>ĐẶT LẠI MẬT KHẨU</h4>
            <form id="form-change-pass" class="form-style" action="" method="post">
                <input type="hidden" name="action" value="qmk">
                <div>
                    <span>Mật khẩu mới<span style="color: #a10000">*</span></span>
                    <input type="text" id="new-pass" name="new-pass">
                </div>
                <div id="c-pass">
                    <span>Xác nhận mật khẩu<span style="color: #a10000">*</span></span>
                    <input type="text" id="c-new-pass" name="c-new-pass">
                </div>
                <input type="hidden" name="taiKhoan" value="taikhoan">
                <button type="submit" class="update-btn">Đặt lại mật khẩu</button>
            </form>
        </div>
    </div>
<!--    <div class="container form-forgot">-->
<!--        <div id="alert-err" class="like-form">-->
<!--            <div class="alert_err2">-->
<!--                <h3 style="font-size:20px;text-align: center;color: #910000">Link này đã hết hiệu lực. Vui lòng thực hiện lại!.</h3>-->
<!--                <div class="back-err">-->
<!--                    <a href="<%=Util.fullPath("dang-nhap")%>">Thực hiện lại</a>-->
<!--                </div>-->
<!--                <div class="back-err">-->
<!--                    <a href="<%=Util.fullPath("trang-chu")%>">Quay lại trang chủ</a>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <%-->
<!--                }-->
<!--            }-->
<!--        } catch (SQLException | ClassNotFoundException e) {-->
<!--            e.printStackTrace();-->
<!--        } finally {-->
<!--            try {-->
<!--                if (pst != null) pst.close();-->
<!--                if (connection != null) connection.close();-->
<!--                if (rs != null) rs.close();-->
<!--            } catch (SQLException e) {-->
<!--                e.printStackTrace();-->
<!--            }-->
<!--        }-->
<!--    %>-->
<script src="/Content/assets/js/validation-form/vali-chang-pass.js"></script>
</section>
