<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="/Content/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/Admin/css/metisMenu.min.css" rel="stylesheet">
    <link href="/Content/Admin/css/timeline.css" rel="stylesheet">
    <link href="/Content/Admin/css/startmin.css" rel="stylesheet">
    <link href="/Content/Admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
@RenderBody()
<div class="page-footer">
    <div class="page-footer-inner">
        Môn Học: Lập Trình .NET - Đồ Án: Website Bán Điện Thoại - Giáo Viên: Phan Đình Long
    </div>
</div>
</body>
<script src="/Content/Admin/js/jquery.min.js"></script>
<script src="/Content/Admin/js/bootstrap.min.js"></script>
<script src="/Content/Admin/js/metisMenu.min.js"></script>
<script src="/Content/Admin/js/raphael.min.js"></script>
<script src="/Content/Admin/js/startmin.js"></script>
</html>