<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="/Content/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/Admin/css/metisMenu.min.css" rel="stylesheet">
    <link href="/Content/Admin/css/timeline.css" rel="stylesheet">
    <link href="/Content/Admin/css/startmin.css" rel="stylesheet">
    <link href="/Content/Admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- DataTables CSS -->
    <link href="/Content/Admin/css/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="/Content/Admin/css/dataTables/dataTables.responsive.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/Content/Admin/css/form-style.css">
</head>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/Admin/Index_Admin">ATM</a>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <ul class="nav navbar-nav navbar-left navbar-top-links">
        <li><a href="/Home/Index"><i class="fa fa-home fa-fw"></i> Website</a></li>
    </ul>

    <ul class="nav navbar-right navbar-top-links">
        <li class="dropdown navbar-inverse">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> Bình luận mới
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-users fa-fw"></i> Thành viên mới
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>Admin <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-user">
@* <%--                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>--%> *@
@* <%--                </li>--%> *@
@* <%--                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>--%> *@
@* <%--                </li>--%> *@
@* <%--                <li class="divider"></li>--%> *@
                <li><a href="#"><i
                        class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                </span>
                    </div>
                </li>
                <li>
                    <a href="/Admin/Index_Admin" class="active"><i class="fa  fa-dashboard fa-fw"></i> Thống kê</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Danh mục<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Producer/Producer"><i class="fa  fa-home fa-fw"></i>Nhà cung cấp</a>
                        </li>
                        <li>
                            <a href="/Product/Product_Manage"><i class="fa  fa-pencil-square-o fa-fw"></i>Quản lý sản
                                phẩm</a>
                        </li>
                        <li>
                            <a href="/Comment/Comment_Manage"><i class="fa  fa-comments fa-fw"></i>Quản lý bình
                                luận</a>
                        </li>
                        <li>
                            <a href="/News/News_Manage"><i class="fa  fa-newspaper-o fa-fw"></i>Quản lý tin tức</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/Revenue/Revenue"><i class="fa fa-table fa-fw"></i>Doanh thu</a>
                </li>
                <li>
                    <a href="/Order/Order_Manage"><i class="fa  fa-shopping-cart fa-fw"></i> Quản lý đơn hàng</a>
                </li>
                <li>
                    <a href="/Account/Account_Manage"><i class="fa  fa-user fa-fw"></i>Quản lý tài khoản</a>
                </li>
                <li>
                    <a href="/Member/Member"><i class="fa fa-users fa-fw"></i>Thành viên</a>
                </li>
            </ul>
        </div>
    </div>
     
</nav>
@RenderBody()
<div class="page-footer">
    <div class="page-footer-inner">
        Môn Học: Lập Trình .NET - Đồ Án: Website Bán Điện Thoại - Giảng Viên: Phan Đình Long
    </div>
</div>

<script src="/Content/Admin/js/jquery.min.js"></script>
<script src="/Content/Admin/js/bootstrap.min.js"></script>
<script src="/Content/Admin/js/metisMenu.min.js"></script>
<script src="/Content/Admin/js/raphael.min.js"></script>
<script src="/Content/Admin/js/startmin.js"></script>

<!-- DataTables JavaScript -->
<script src="/Content/Admin/js/dataTables/jquery.dataTables.min.js"></script>
<script src="/Content/Admin/js/dataTables/dataTables.bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>
<script src="/Content/assets/ckfinder/ckfinder.js"></script>
<script src="/Content/assets/ckeditor/ckeditor.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/Content/Admin/js/form-style.js"></script>
<script src="/Content/Admin/js/validation-form/vali-form.js"></script>
@RenderSection("jsFooter", required: false)

</html>